/* Fonte personalizada */
@font-face {
  font-family: 'Fiddums';
  src: url('FiddumsFamily.ttf') format('truetype');
}

body {
  margin: 0;
  font-family: Georgia, serif;
  background-color: #0d0d0d;
  background-image: url('bg-textura.jpg');
  background-size: cover;
  background-repeat: repeat;
  color: #e0e0e0;
  text-align: center;
  padding: 40px 20px;
  min-height: 100vh;
}

h1 {
  font-family: 'Fiddums', serif;
  font-size: 3rem;
  color: #8a0f1f;
  text-shadow: 2px 2px 4px #000;
  margin-bottom: 10px;
}

.heart {
  font-size: 2rem;
  animation: pulse 1s infinite;
}

@keyframes pulse {
  0%, 100% { transform: scale(1); color: #8a0f1f; }
  50% { transform: scale(1.2); color: #be1e2d; }
}

.message {
  font-size: 1.5rem;
  max-width: 600px;
  margin: 20px auto;
  line-height: 1.7;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-left: 4px solid #be1e2d;
  border-radius: 10px;
  font-family: serif, georgia;
}

.message1 {
  font-size: 1.1rem;
  max-width: 600px;
  margin: 20px auto;
  line-height: 1.7;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-left: 4px solid #be1e2d;
  border-radius: 10px;
  font-family: serif, georgia;
}

button {
  background: none;
  border: 2px solid #8a0f1f;
  color: #e0e0e0;
  padding: 12px 25px;
  font-size: 1rem;
  margin-top: 20px;
  cursor: pointer;
  font-family: Georgia, serif;
  transition: all 0.3s ease;
}

button:hover {
  background-color: #8a0f1f;
  color: #fff;
}

.surprise {
  display: none;
  margin-top: 30px;
  font-size: 1.1rem;
  background-color: rgba(0, 0, 0, 0.7);
  border-left: 4px solid #be1e2d;
  padding: 20px;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
}

footer {
  margin-top: 50px;
  font-size: 0.8rem;
  color: #777;
}

/* Slideshow */
.slideshow-container {
  max-width: 600px;
  height: 400px;
  margin: 30px auto;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0,0,0,0.6);
}

.mySlides {
  display: none;
  width: 100%;
  height: 100%;
  object-fit: contain; /* <- MOSTRA a imagem inteira */
  background-color: #000; /* Caso a imagem não preencha tudo */
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.contador-amor {
  font-size: 1.1rem;
  margin: 10px 0 30px;
  color: #e0e0e0;
  font-style: serif;
}

